<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s10">
            <span class="card-title grey-text text-darken-4"><%= @question.title %></span>
            <p><%= @question.content %></p>
          </div>
          <div class="col s2">
            <p class="upvotes_count"><%= @question.upvoters.count %></p>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s8">
            <% if @question.user == current_user %>
              <%= link_to "Edit", edit_question_path(@question) %>
              <%= link_to "Destroy", @question, method: :delete, data: { confirm: "Are you sure?" } %>
            <% else %>
              <% if @question.upvoters.include?(current_user) %>
                <%= link_to "Downvote" ,question_upvote_path(:id => @question),method: :delete %>
              <% else %>
                <%= link_to "Upvote", question_upvotes_path(:id => @question),method: :post %>
              <% end %>
            <% end %>
          </div>
          <div class="col s4">
              <%= link_to "By : " + @question.user.name, profile_path(@question.user) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @question.answers.count > 0 %>
  <div class="col s8">
    <h3>Answers</h3>
    <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="col s8">
          <div class="answer">
            <p> <%= answer.content %></p>
            <p> By : <%= link_to answer.user.name, profile_path(answer.user) %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

  <div class="col s8">
    <h3>Add a answer:</h3>
    <%= form_for([@question, @question.answers.build]) do |f| %>
      <div class="input-field">
        <%= f.label :content %><br>
        <%= f.text_area :content,class: "materialize-textarea" %>
      </div>
      <p>
        <%= f.button class: "waves-effect waves-light btn ", type: :submit do %>Add
        <%end%>
      </p>
    <% end %>
  </div>
</div>
