<div class="container">
  <div class="signin_container">
    <%= form_for(@user, url: user_session_path) do |f| %>
    <div class="fields">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Sign In" %>
    </div>
    <% end %>
  </div>
  <div class="signup_container">
    <%= form_for(@user, url: user_registration_path) do |f| %>
    <div class="fields">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.label :confirm_password %>
      <%= f.password_field :confirm_password %>
    </div>
    <div class="actions">
      <%= f.submit "Sign Up" %>
    </div>
    <% end %>
  </div>
</div>
